<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/lab/{{ page.slug }}.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
  </head>
  <body>
    <div class="ws-container">
      <div class="ws-head">
        <h1>
          {{ site.title }}
        </h1>
        <p>
          <img class="img-thumbnail img-circle ws-logo" src="/assets/img/ws1.png" width="150" height="150" alt="WS1">
        </p>
        <p>{{ site.description }}</p>
        <p><a href="/">Home</a></p>
      </div>
    </div>
    <section>
      {{ content }}
    </section>
  </body>
</html>